/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

:root {
  --focus-gold: #ffbf47;
  --usps-digital-blue: #333366;
  --usps-digital-blue-accent: #3573b1;
  --redventures-blue-light-accent: #3473b1;
  --redventures-light-blue-accent: #5c8fc0;
  --redventures-blue-accent: #eaf1f7;
  --light-gray-bg: #f7f7f7;
  --disclaimer-cta-bg: #e5f1fe;
  --light-gray-hover-bg: #ededed;
  --text-hover: #999999;
  --form-field-rules: #999999;
  --text-grey-limited: #595959;
  --dark-gray-bg: #d8d8d8;
  --usps-digital-red: #e71921;
  --redventures-digital-red: #ab1217;
  --redventures-digital-red-transparent: #ab121766;
  --usps-digital-green: #218748;
  --green-cyan: #04aa6d;
  --cyan-blue: #f0f4f9;
  --subaru-light-grey: #ddd;
  --inverse-text: #fff;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --border-opacity: 1;
}

body {
  font-synthesis: none;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  line-height: 1.6;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
}

main {
  padding: 20px 40px;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--usps-digital-blue);
  text-transform: capitalize;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h1.inverse--heading,
h2.inverse--heading {
  color: #fff;
  background-color: var(--usps-digital-blue);
}

h2.hero--variant {
  font-size: 22px;
}

input:invalid {
  border-color: rgb(118, 118, 118), rgb(133, 133, 133);
}
